<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
	<module name="FileTabCharacter">
		<property name="severity" value="warning" />
		<property name="fileExtensions" value="java" />
	</module>
	<module name="StrictDuplicateCode">
		<property name="min" value="30" />
		<property name="severity" value="warning" />
      <property name="fileExtensions" value="java" />
	</module>
	<module name="RegexpHeader">
		<property name="severity" value="warning" />
		<property name="fileExtensions" value="java" />
		<property name="header"
			value="^/\*$\n^ \* Copyright \(C\) 20\d\d Daniel Hirscher$\n^ \*/$\n" />
     </module>
     <module name="FileLength">
      <property name="max" value="1500" />
      <property name="fileExtensions" value="java" />
   </module>

   <module name="TreeWalker">
    <property name="tabWidth" value="3" />

    <module name="ClassTypeParameterNameCheck">
      <property name="severity" value="warning" />
   </module>
   <module name="MethodTypeParameterName">
      <property name="severity" value="warning" />
   </module>
   <module name="OuterTypeNumber">
      <property name="severity" value="warning" />
   </module>
   <module name="Indentation">
      <property name="severity" value="ignore" />
      <property name="braceAdjustment" value="2" />
      <property name="caseIndent" value="2" />
   </module>
   <module name="ArrayTrailingComma">
      <property name="severity" value="ignore" />
   </module>
   <module name="EqualsAvoidNull" />
   <module name="FallThrough" />
   <module name="ModifiedControlVariable" />
   <module name="RedundantThrows" />
   <module name="IllegalThrows">
      <property name="severity" value="info" />
   </module>

   <module name="FileContentsHolder" />

   <!-- Annotations -->
   <module name="AnnotationUseStyle" />
   <module name="MissingDeprecated" />
   <!-- Java 5+ -->
   <module name="MissingOverride">
      <property name="javaFiveCompatibility" value="true" />
   </module>
   <module name="PackageAnnotation" />
   <module name="SuppressWarnings">
      <property name="format" value="^unused$" />
   </module>

   <!-- Block -->
   <module name="EmptyBlock">
      <property name="tokens"
         value="LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_IF,LITERAL_FOR,LITERAL_TRY,LITERAL_WHILE,INSTANCE_INIT,STATIC_INIT" />
      </module>
      <module name="EmptyBlock">
         <property name="option" value="text" />
         <property name="tokens" value="LITERAL_CATCH" />
      </module>
      <module name="LeftCurly">
         <property name="option" value="nl" />
      </module>
      <module name="NeedBraces" />
      <module name="RightCurly">
         <property name="option" value="alone" />
      </module>
      <module name="AvoidNestedBlocks" />

      <!-- Class Design -->
      <module name="VisibilityModifier" />
      <module name="FinalClass" />
      <module name="InterfaceIsType" />
      <module name="HideUtilityClassConstructor" />
      <module name="MutableException" />
      <module name="ThrowsCount">
         <property name="max" value="2" />
      </module>

      <!-- Coding -->
      <module name="CovariantEquals" />
      <module name="EmptyStatement" />
      <module name="EqualsHashCode" />
      <module name="FinalLocalVariable" />
      <module name="HiddenField">
         <property name="tokens" value="VARIABLE_DEF" />
      </module>
      <module name="IllegalInstantiation">
         <property name="classes" value="java.lang.Boolean" />
      </module>
      <module name="IllegalToken">
         <property name="tokens" value="POST_INC,POST_DEC" />
      </module>
      <module name="IllegalTokenText" />
      <module name="InnerAssignment" />
      <module name="MagicNumber">
         <property name="severity" value="ignore" />
         <property name="ignoreNumbers" value="-1,0,1,2,3" />
      </module>
      <module name="MissingSwitchDefault" />
      <module name="SimplifyBooleanExpression" />
      <module name="SimplifyBooleanReturn" />
      <module name="StringLiteralEquality" />
      <module name="NestedIfDepth">
         <property name="max" value="7" />
      </module>
      <module name="NestedTryDepth">
         <property name="max" value="3" />
      </module>
      <module name="NoFinalizer" />
      <module name="SuperClone" />
      <module name="SuperFinalize" />
      <module name="IllegalCatch" />
      <module name="PackageDeclaration" />
      <module name="JUnitTestCase" />
      <module name="ReturnCount">
         <property name="max" value="1" />
      </module>
      <module name="IllegalType" />
      <module name="DeclarationOrder" />
      <module name="ParameterAssignment" />
      <module name="ExplicitInitialization" />
      <module name="DefaultComesLast" />
      <module name="MultipleVariableDeclarations" />
      <module name="UnnecessaryParentheses">
         <property name="severity" value="ignore" />
      </module>

      <!-- Imports -->
      <!-- module name="AvoidStarImport" -->
      <module name="IllegalImport" />
      <module name="RedundantImport" />
      <module name="UnusedImports" />
      <!-- import control instead of regexp on internal packages? -->

      <!-- JavaDoc Comments -->
      <module name="JavadocType">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="CVS Revision rausgeschmissen, war: \$Revision.*\$" />
         <property name="severity" value="ignore" />
         <property name="authorFormat" value="\S" />
      </module>
      <module name="JavadocMethod">
         <property name="severity" value="ignore" />
         <property name="allowUndeclaredRTE" value="true" />
      </module>
      <module name="JavadocVariable">
         <property name="severity" value="ignore" />
      </module>
      <module name="JavadocStyle" />

      <!-- Metrics -->
      <module name="BooleanExpressionComplexity" />
      <module name="ClassDataAbstractionCoupling">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="von 7 auf 20 gestellt" />
         <property name="max" value="20" />
      </module>
      <module name="ClassFanOutComplexity">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="von 20 auf 30 gestellt" />
         <property name="max" value="30" />
      </module>
      <module name="CyclomaticComplexity" />
      <module name="NPathComplexity" />
      <module name="JavaNCSS" />

      <!-- Miscellaneous -->
      <module name="UncommentedMain">
         <property name="excludedClasses" value="\.Main$" />
      </module>
      <module name="UpperEll" />
      <module name="ArrayTypeStyle" />

      <!-- Modifiers -->
      <module name="ModifierOrder" />
      <module name="RedundantModifier" />

      <!-- Naming Conventions -->
      <module name="AbstractClassName">
         <property name="severity" value="ignore" />
      </module>
      <module name="ConstantName" />
      <module name="LocalFinalVariableName" />
      <module name="LocalVariableName" />
      <module name="MemberName" />
      <module name="MethodName" />
      <module name="PackageName" />
      <module name="ParameterName" />
      <module name="StaticVariableName" />
      <module name="TypeName" />

      <!-- RegExp -->
      <module name="RegexpSinglelineJava">
         <property name="format" value="System\.exit\(" />
         <property name="message" value="System.exit()" />
      </module>
      <module name="RegexpSinglelineJava">
         <property name="format" value="localhost" />
         <property name="message" value="don't use localhost, this may not work in distributed systems" />
      </module>
      <module name="RegexpSinglelineJava">
         <property name="format" value="@Aspect" />
         <property name="message" value="don't use annotations for aspects, use the aspectj language directly" />
      </module>
      <module name="RegexpSinglelineJava">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="System.out.println" />
         <property name="format" value="System\.out\.print(ln)?" />
         <property name="message" value="System.out.println" />
      </module>
      <module name="RegexpSinglelineJava">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="System.err.println" />
         <property name="format" value="System\.err\.print(ln)?" />
         <property name="message" value="System.err.println" />
      </module>
      <module name="RegexpSinglelineJava">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="printStacktrace" />
         <property name="format" value="\.printStacktrace" />
         <property name="message" value="Print Stacktrace" />
      </module>
      <module name="RegexpSinglelineJava">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="import org.eclipse.internal" />
         <property name="format" value="import.*org\.eclipse\..*internal\." />
         <property name="message" value="Eclipse Internal Package" />
      </module>

      <!-- Size Violations -->
      <module name="LineLength">
         <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="formatter 120, check auf 140" />
         <property name="ignorePattern" value="^ *\* *[^ ]+$" />
         <property name="max" value="140" />
         <property name="tabWidth" value="3" />
      </module>
      <module name="MethodLength" />
      <module name="AnonInnerLength" />
      <module name="ParameterNumber" />

      <!-- Whitespace -->
      <module name="EmptyForInitializerPad" />
      <module name="EmptyForIteratorPad" />
      <module name="MethodParamPad" />
      <module name="NoWhitespaceAfter">
         <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS" />
      </module>
      <module name="NoWhitespaceBefore" />
      <module name="NoWhitespaceBefore">
         <property name="allowLineBreaks" value="true" />
         <property name="tokens" value="DOT" />
      </module>
      <module name="OperatorWrap" />
      <module name="OperatorWrap">
         <property name="option" value="eol" />
         <property name="tokens"
            value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN, MOD_ASSIGN, SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN, BOR_ASSIGN, BAND_ASSIGN" />
         </module>
         <module name="ParenPad">
            <property name="tokens" value="CTOR_CALL,LPAREN,RPAREN,SUPER_CTOR_CALL" />
         </module>
         <module name="TypecastParenPad" />
         <module name="WhitespaceAfter" />
         <module name="WhitespaceAround">
            <property name="tokens"
               value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN" />
            </module>

         </module>

         <module name="SuppressionCommentFilter">
            <property name="offCommentFormat" value="CSOFF\: ([\w\|]+)" />
            <property name="onCommentFormat" value="CSON\: ([\w\|]+)" />
            <property name="checkFormat" value="$1" />
         </module>
         <!-- general generated code suppression -->
         <module name="SuppressionCommentFilter">
            <property name="offCommentFormat" value="BEGIN GENERATED CODE" />
            <property name="onCommentFormat" value="END GENERATED CODE" />
         </module>
         <!-- EMF generated code suppression -->
         <module name="SuppressionCommentFilter">
            <property name="offCommentFormat" value="@generated" />
            <property name="onCommentFormat" value="@generated NOT" />
         </module>

      </module>

