<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Error" strict="true" name="Default">
	<Properties>
		<Property name="filename">reader</Property>
	</Properties>
	<Appenders>
		<Appender type="Console" name="Console">
			<Layout type="PatternLayout" pattern="%d{ISO8601} [%t] %-5level %logger{36} %mdc{socket} - %msg%n"/>
		</Appender>
		<Appender type="RollingFile" name="File" fileName="${filename}.log" filePattern="${filename}-%i.log.gz">
			<Layout type="PatternLayout" pattern="%d{ISO8601} [%t] %-5level %logger{36} %mdc{socket} - %msg%n"/>
			<SizeBasedTriggeringPolicy size="2 MB"/>
			<DefaultRolloverStrategy max="3"/>
		</Appender>
	</Appenders>
	<Loggers>
		<Root level="Info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>